*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body{    
    margin: 0, auto;
    font-family: Cambria, serif;
    font-size: 14px;
    color: rgb(255, 250, 250);
    line-height: 24px;
}

p{
    padding: 5px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
    text-shadow: 0px 0px 4px black;
}


a:hover {
    font-family: sans-serif;
    outline: none;
	text-decoration: underline;
	color: #deb887;
}


.activ{
    color:#deb887;
    text-decoration: underline;
}

.label{
    font-family: sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
}   

.background{
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
} 

header{  
    height: 90px;
    position: relative;
}

.header_content {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
    text-shadow: 0px 0px 4px black;
}

.line_text{
    font-size: 15px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
    text-shadow: 0px 0px 4px black;
}

.contener{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

ul, a {
    font-family: sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
    text-decoration: none;
    list-style: none;
}

.logo_header{
    width: max-content;
    margin-left: 20px;
    padding-top: 10px;  
}

.logo {
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #f7f7f7;
    text-shadow: 10px 0px 6px black;   
}

ul.menu {
    display: flex;
    justify-content: right;
    gap: 15px;
    font-size: 12px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 5px;
}

.row_block{
    margin-top: 15px;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5em;
} 

.colum_list{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.row_list{
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}



    


