{% extends 'base.html' %}
{% block forma %}
<form action="" method="POST">
    {{ form.csrf_token() }}
    {% for field in form if field.name != "csrf_token" %}
        <div class="form_label">
            {{ field.label() }}
        </div>
        <div class="form_item">
            {{ field }}
            {% for error in field.error %}
                <div class="form_error">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
   {% endfor %}
</form>



{% endblock %}
