{% extends 'base.html' %}
{% block title %}Citi{% endblock %}
{% block content%}
<div class="header_content">
    <h3>Список городов России по численности населения</h3>
</div>
<div class="row_block">
    <div class="colum_list">
        <img src="static\img\png-transparent-computer-icons-building-building.png" alt="">
        <a href="/citi/small"><h4 class="line_text">Малые города</h4></a>
        <p class="intro_text">до 50 тысяч жителей</p>
    </div>

    <div class="colum_list">
        <img src="static\img\png-transparent-computer-icons-building-building.png" alt="">
        <a href="/citi/medium"><h4 class="line_text">Средние города</h4></a>
        <p class="intro_text">до 100 тысяч жителей</p>
    </div>

    <div class="colum_list">
        <img src="static\img\png-transparent-computer-icons-building-building.png" alt="">
        <a href="/citi/big_cities"><h4 class="line_text">Большие города</h4></a>
        <p class="intro_text">более 100 тысяч жителей</p>
    </div>

    <div class="colum_list">
        <img src="static\img\png-transparent-computer-icons-building-building.png" alt="">
        <a href="/citi/bigСities"><h4 class="line_text">Крупные города</h4></a>
        <p class="intro_text">более 250 тысяч жителей</p>
    </div>

    <div class="colum_list">
        <img src="static\img\png-transparent-computer-icons-building-building.png" alt="">
        <a href="/citi/largest"><h4 class="line_text">Крупнейшие города</h4></a>
        <p class="intro_text">от 500 до 1 миллиона жителей</p>
    </div>

    <div class="colum_list">
        <img src="static\img\png-transparent-computer-icons-building-building.png" alt="">
        <a href="/citi/millionaires"><h4 class="line_text">Города миллионеры</h4></a>
        <p class="intro_text">Более 1000000 жителей</p>
    </div>
    {% endblock %}

{% block forma %}
<div class="login">
    <form action="" method="POST" id = "login">
        <div class="password">
            <label class="label" for="password">Пароль</label>
            <input class="input" type="text" name="password" id="password">
        </div>
        <div class="email">
            <label class="label" for="email">email</label>
            <input class="input" type="text" name="email" id="email">
        </div>
        <div class="label">
            <p>{{ outs }}</p>
        </div>
        <div class="btn">
            <input type="submit" value="Clic">
        </div>
    </form>
</div>

{% endblock %}
