{% extends 'base.html' %}
{% block content %}
<div class="row_block">
    <a href="/user?sorting=name" class="btn"><input class="btn" type="button" value="Имя"></a>
    <a href="/user?sorting=surname" class="btn"><input class="btn" type="button" value="Фамилия"></a>
    <a href="/user?sorting=email" class="btn"><input class="btn" type="button" value="Почта"></a>
</div>

{% for user in listUser %}
 <div class="row_block">
     <p>{{ user.name }}</p>
     <p>{{ user.surname }}</p>
     <p>{{ user.email }}</p>
</div>
{% endfor %}
{% endblock %}




<!--operation= {name: lambda user: user.name,-->
<!--        surname: lambda user: user.surname,-->
<!--        email: lambda user: user.email}-->

<!--listUser.sort(operation[key], )-->

<!--reverse if True if reverse else reverse if False-->
<!--condition_if_true if condition else condition_if_false-->